<div class="container">
  <!-- ----------------------Finance-chart-1----------------------- -->
  <mat-card>
    <mat-card-content>
      <div class="raise">
        <mat-icon fontIcon="call_made"></mat-icon><span>65%</span>
        <div class="count-title">Income</div>
      </div>
      <div id="chart1" style="width:300px;"></div>
      <div fxLayout="column">
        <div class="count-title">Increase in Average</div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ----------------------Finance-chart-2--------------------- -->
  <mat-card>
    <mat-card-content>
      <div class="fall">
        <mat-icon fontIcon="call_made"></mat-icon><span>14%</span>
        <div class="count-title">Cost</div>
      </div>
      <div id="chart2" style="width:300px;"></div>
      <div fxLayout="column">
        <div class="count-title">Increase in Average</div>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- ------------------------Finance-chart-3------------------------ -->
  <mat-card>
    <mat-card-content>
      <div class="raise">
        <mat-icon fontIcon="call_made"></mat-icon><span>50%</span>
        <div class="count-title">Income</div>
      </div>
      <div id="chart3" style="width:300px;"></div>
      <div fxLayout="column">
        <div class="count-title">Increase in Average</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
