<div class="toolbar">
<mat-card >
    <mat-card-content style="width:175px;">
         <h2>Instagram</h2>
         <div style="display: flex;gap:3em">
            <span><img src="../../../assets/Images/instagram.jpg" alt="insta" ></span>
            <span>Followers 561.6K </span>
         </div>
    </mat-card-content>
</mat-card>

<mat-card >
    <mat-card-content  style="width:175px;">
        <h2>Twitter</h2>
        <div style="display: flex;gap:3em">
            <span><img src="../../../assets/Images/twitter.jpg" alt="twitter" ></span>
         <span>Followers 266K </span>
        </div>
    </mat-card-content>
</mat-card>

<mat-card >
    <mat-card-content  style="width:175px;"> 
        <h2>Facebook</h2>
        <div style="display: flex;gap:3em">
            <span><img src="../../../assets/Images/facebook.jpg" alt="fb" ></span>
         <span>Followers 395.1K </span>
        </div>
    </mat-card-content>
</mat-card>
</div>

