.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
.flex-item {
    width: 220px;
    height: 95px;
    margin-top: -2.2em;
    margin-left:2em;
    overflow: hidden;
}