/* You can add global styles to this file, and also import other style files */
body{
    margin-top: 50px;
}

@media (min-width: 600px) {
    /* styles for devices with a screen width of 600px or greater */
    }
    
@media (max-width: 599px) {
    /* styles for devices with a screen width of 599px or less */
    }

@-ms-viewport {
        width: device-width;
    }
@viewport {
        width: device-width;
    }

